    <div class="price">
      <span class="price-tag">{{PRICE_TAG}}</span>
      <div class="price-linha">
        <div class="price-valor"><span class="price-cur">R$</span><span class="price-num">{{PRICE_VALOR}}</span><span class="price-cent">{{PRICE_CENTAVOS}}</span><span class="price-suf">{{PRICE_SUFIXO}}</span></div>
        <div class="price-metas">
{{PRICE_META_ITENS}}
        </div>
      </div>
      <p class="price-nota">{{PRICE_NOTA}}</p>
    </div>

    <h3>{{CONDICOES_TITULO}}</h3>
    <table>
{{TABELA_CONDICOES_LINHAS}}
    </table>

    <div class="two">
      <div>
        <h3>{{INCLUI_TITULO}}</h3>
        <ul class="check">
{{INCLUI_ITENS}}
        </ul>
      </div>
      <div>
        <h3>{{COMPLEMENTARES_TITULO}}</h3>
{{COMPLEMENTARES_CARD}}
        <p class="nota">{{INVEST_RODAPE_NOTA}}</p>
      </div>
    </div>

    <p class="fine pe-pagina">{{VALIDADE_NOTA}}</p>
